<div *ngIf="drinkDettaglio" class="drink-detail">
    <img [src]="drinkDettaglio.strDrinkThumb" alt="{{ drinkDettaglio.strDrink }}" class="drink-image"/>
    <h2>{{ drinkDettaglio.strDrink }}</h2>
    <p><strong>Category:</strong> {{ drinkDettaglio.strCategory }}</p>
    <p><strong>Instructions:</strong> {{ drinkDettaglio.strInstructions }}</p>
    
    <!-- Lista degli ingredienti -->
    <div class="ingredienti">
      <h4>Ingredients:</h4>
      <ul>
        <li *ngFor="let ingredienti of getIngredienti()">{{ ingredienti }}</li>
      </ul>
    </div>
</div>